# Dokumen internal
Perencanaan Proyek Klinik Ban Langsa.md

# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Production build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
